<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
     <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/estilo.css">
    <link rel="shortcut icon" href="../static/img/icon.png" type="image/x-icon">
    <title>HistoryMath</title>
</head>
<body>
    <header>
        <h1 id="principal"><a href="/">HistoryMath</a></h1>
    </header>
    <nav class="menu">
        <ul>
            <li ><a href="/">Inicio</a></li>
            <li ><a href="/aritmetica">Aritmética</a>
                <ul>
                    <li><a href="/numerosnaturais">Numeros naturais</a></li>
                    <li><a href="#">Numeros inteiros</a></li>
                    <li><a href="#">Numeros racionais</a></li>
                    <li><a href="#">Numeros Irracionais</a></li>
                    <li><a href="#">Numeros reais</a></li>
                    <li><a href="#">Numeros Complexos</a></li>
                </ul>
            </li>
            <li><a href="#">Algebra</a></li>
            <li><a href="#">Geometria </a></li>
            <li><a href="/sistemasdinamicos">Sistemas Dinâmicos</a></li>
            <li><a href="/faleconosco">Fale Conosco</a></li>
        </ul>
    </nav>
    <main>
        <article>
            <h1 class="index">Aritmética</h1>
            <p class="indexp">
                “Os que buscam o justo caminho da verdade não devem ocupar-se com 
                nenhum objecto a respeito do qual não possam ter uma certeza igual
                à das demonstrações da aritmética e da geometria.”
                <br>
                ― René Descartes
            </p>
        </article>
    </main>
    <footer>
        Historia da Matematica
    </footer>
</body>
</html>