<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
     <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/estilo.css">
    <link rel="shortcut icon" href="../static/img/icon.png" type="image/x-icon">
    <title>Fale Conosco</title>
</head>
<body>
    <header>
        <h1 id="principal"><a href="/">HistoryMath</a></h1>
    </header>
    <nav class="menu">
        <ul>
            <li ><a href="/">Inicio</a></li>
            <li ><a href="/aritmetica">Aritmética</a>
                <ul>
                    <li><a href="/numerosnaturais">Numeros naturais</a></li>
                    <li><a href="#">Numeros inteiros</a></li>
                    <li><a href="#">Numeros racionais</a></li>
                    <li><a href="#">Numeros Irracionais</a></li>
                    <li><a href="#">Numeros reais</a></li>
                    <li><a href="#">Numeros Complexos</a></li>
                </ul>
            </li>
            <li><a href="#">Algebra</a></li>
            <li><a href="#">Geometria </a></li>
            <li><a href="/sistemasdinamicos">Sistemas Dinâmicos</a></li>
            <li><a href="/faleconosco">Fale Conosco</a></li>
        </ul>
    </nav>
    <main>
       <article>
           <h1>Contatos:</h1>
           <br>
           Whatsapp: <a href="https://api.whatsapp.com/send?phone=5575988126388" target="_blank" rel="external">
               (75)988126388 🔗</a>
            <br>
            <br>
           Instagram <a href="https://www.instagram.com/beto_maia00/" target="_blank" rel="external">
                @beto_maia00 🔗</a>
       </article>
    </main>
    <footer>
        Historia da Matematica
    </footer>
</body>
</html>