<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
     <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/estilo.css">
    <link rel="shortcut icon" href="../static/img/icon.png" type="image/x-icon">
    <title>HistoryMath</title>
</head>
<body>
    <header>
        <h1 id="principal"><a href="/">HistoryMath</a></h1>
    </header>
    <nav class="menu">
        <ul>
            <li ><a href="/">Inicio</a></li>
            <li ><a href="/aritmetica">Aritmética</a>
                <ul>
                    <li><a href="/numerosnaturais">Numeros naturais</a></li>
                    <li><a href="#">Numeros inteiros</a></li>
                    <li><a href="#">Numeros racionais</a></li>
                    <li><a href="#">Numeros Irracionais</a></li>
                    <li><a href="#">Numeros reais</a></li>
                    <li><a href="#">Numeros Complexos</a></li>
                </ul>
            </li>
            <li><a href="#">Algebra</a></li>
            <li><a href="#">Geometria </a></li>
            <li><a href="/sistemasdinamicos">Sistemas Dinâmicos</a></li>
            <li><a href="/faleconosco">Fale Conosco</a></li>
        </ul>
    </nav>
    <main style="background-image: linear-gradient(to bottom, rgb(226, 245, 159), rgb(231, 240, 116), rgb(237, 240, 52));">
        <article>
            <h1 class="index">Sejam bem vindos ao HistoryMath</h1>
            <p class="indexp">Esse site foi criado com o intuído de mostrar um pouco da história da matemática.</p>
            <picture>
                <img id="matematica" src="../static/img/index.jpg" >
            </picture>
        </article>
    </main>
    <footer>
        Historia da Matematica
    </footer>
</body>