<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
     <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/estilo.css">
    <link rel="shortcut icon" href="../static/img/icon.png" type="image/x-icon">
    <title>HistoryMath</title>
</head>
<body>
    <header>
        <h1 id="principal"><a href="/">HistoryMath</a></h1>
    </header>
    <nav class="menu">
        <ul>
            <li ><a href="/">Inicio</a></li>
            <li ><a href="/aritmetica">Aritmética</a>
                <ul>
                    <li><a href="/numerosnaturais">Numeros naturais</a></li>
                    <li><a href="#">Numeros inteiros</a></li>
                    <li><a href="#">Numeros racionais</a></li>
                    <li><a href="#">Numeros Irracionais</a></li>
                    <li><a href="#">Numeros reais</a></li>
                    <li><a href="#">Numeros Complexos</a></li>
                </ul>
            </li>
            <li><a href="#">Algebra</a></li>
            <li><a href="#">Geometria </a></li>
            <li><a href="/sistemasdinamicos">Sistemas Dinâmicos</a></li>
            <li><a href="/faleconosco">Fale Conosco</a></li>
        </ul>
    </nav>
    <main>
        <article>
            <h1 class="principal">Numeros naturais</h1>
            <h2>Historia</h2>
            <p>
                Para falar sobre os primórdios dos números naturais,
                 primeiros temos que falar sobre os egípcios, pois foram a partir das 
                 necessidades deles que os números naturais tiveram suas origens.
            </p>
            <p>
                A civilização egípcia floresceu há cerca de 5.00 anos, com base de sustentação 
                na agricultura nas margens do Nilo, que se fertilizavam periodicamente.  A sociedade egípcia, 
                organizada em torno desse recurso, estava subordinada a uma ordem hierárquica encabeçada por um 
                faraó legitimado por divindades identificadas com os astros, obviamente associadas á regularidade do Nilo. 
                A distribuição de recursos e a repartição das terras férteis deram origem a formas muito especiais de matemática.
            </p>
            <p>
                Para fazer os cálculos, os egípcios utilizavam coisas como pedras, nós ou riscos em ossos, mais com o avanço de sua 
                civilização esse método acabou se tornando pouco prático, então partindo da necessidade de se efetuar cálculos rápidos e 
                precisos para divisão de terras, os egípcios decidiram criar representações de quantidade de objetos através de desenhos: os símbolos.
            </p>
            <picture>
                <img  src="../static/img/naturais.jpg"  alt="Sistema  de  numeração egípcio">
            </picture>
            <p>
                O sistema de numeração egípcio baseava-se em sete números chave: 1, 10, 100, 1.000, 10.000, 100.000 e 1.000.000, um traço vertical
                 representava 1 unidade, um osso de calcanhar invertido representava o número 10, um laço valia 100 unidades, uma flor de lótus valia 1.000,
                  um dedo dobrado valia 10.000, um girino representava 100.000 unidades, como podem ver na imagem anterior. E esse sistema egípcio não era um 
                  sistema posicional, já que mudar a ordem dos fatores, não alterava o valor, pois eles usavam o processo aditivo pra fazer as operações.
            </p>
        </article>
    </main>
    <footer>
        Historia da Matematica
    </footer>
</body>
</html>