<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
     <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/estilo.css">
    <link rel="shortcut icon" href="../static/img/icon.png" type="image/x-icon">
    <title>Sistemas Dinâmicos Discretos </title>
</head>
<body>
    <header>
        <h1 id="principal"><a href="/">HistoryMath</a></h1>
    </header>
    <nav class="menu">
        <ul>
            <li ><a href="/">Inicio</a></li>
            <li ><a href="/aritmetica">Aritmética</a>
                <ul>
                    <li><a href="/numerosnaturais">Numeros naturais</a></li>
                    <li><a href="#">Numeros inteiros</a></li>
                    <li><a href="#">Numeros racionais</a></li>
                    <li><a href="#">Numeros Irracionais</a></li>
                    <li><a href="#">Numeros reais</a></li>
                    <li><a href="#">Numeros Complexos</a></li>
                </ul>
            </li>
            <li><a href="#">Algebra</a></li>
            <li><a href="#">Geometria </a></li>
            <li><a href="/sistemasdinamicos">Sistemas Dinâmicos</a></li>
            <li><a href="/faleconosco">Fale Conosco</a></li>
        </ul>
    </nav>
    <main>
        <article>
            <h1 class="principal">Sistemas Dinâmicos Discretos</h1>
            <br>
            <h2>Sistemas Dinâmicos</h2>
                <p>
                    Na física matemática e na matemática, 
                    sistema dinâmico é um conceito no qual uma 
                    função descreve a relação no tempo de um ponto 
                    em um espaço geométrico. Os exemplos incluem 
                    modelos matemáticos que descrevem o balanço 
                    do pêndulo do relógio, o fluxo de água em um duto, 
                    a relação entrada-saída de tensão em um circuito 
                    elétrico, a velocidade angular de saída de um motor, etc.
                </p>
                <p>
                    Conceito de sistema dinâmico nasce da exigência de construir 
                    um modelo geral para os sistemas físicos que evoluem no tempo, 
                    segundo uma regra que liga o estado presente aos estados passados.
                </p>
            <h2>História</h2>
                <p>
                    Os primórdios da teoria dos sistemas dinâmicos podem ser identificados já no século
                    XVI, nos trabalhos de Mecânica Celeste escritos por Johannes Kepler (1571-1628). As
                    contribuições de Isaac Newton (1643-1727) à modelagem matemática, através da formalização da Mecânica Clássica, 
                    abriram espaço para uma sofisticação crescente do aparato matemático que modela fenômenos mecânicos, 
                    culminando nos trabalhos de Lagrange(1736-1813) e Hamilton(1805-1865), que definiram a teoria da Mecânica Clássica 
                    em um contexto matemático, que essencialmente é o mesmo utilizado até hoje. O matemático francês Henri Poincaré (1854-1912) 
                    é considerado um dos criadores da teoria moderna dos sistemas dinâmicos, tendo introduzido muitos dos aspectos do estudo
                    qualitativo como estabilidade e periodicidade, sem ser necessário resolver explicitamente a equação diferencial. 
                    Tal abordagem pode ser encontrada na sua obra-prima Les méthodes nouvelles de la mécanique céleste, publicada em três volumes entre 1892 e 1899.
                </p>
                <p>
                    No fim do século XIX, Poincaré, ao estudar o problema dos três corpos e
                    a estabilidade do sistema solar, deparou-se com dificuldades analíticas intransponíveis
                    na determinação exata das curvas contínuas, soluções das equações diferenciais do problema que estudava. Achou conveniente substituir o estudo das órbitas, fluxo contínuo
                    no tempo, por órbitas discretas, no qual o tempo aumentava por saltos regulares, de
                    onde surgiu esta nova teoria.
                </p>
            <h2>Sistemas Dinâmicos Discretos</h2>
                <p>
                    Sistema dinâmico pode ser linear ou não linear. No primeiro caso, o
                    comportamento do sistema é bem definido, mas no caso não linear esse comportamento
                    já não é tão previsível. No mundo real, os sistemas não lineares espelham melhor a
                    realidade
                </p>
            <h2>Objetivo</h2>
                <p>
                    Os sistemas dinâmicos discretos são importantes
                    em todos os ramos das Ciências (Físicas, Agrícolas, Biológicas e Sociais) devido à
                    sua capacidade de modelar fenômenos naturais que se comportam de maneira caótica,
                    aparentemente imprevisíveis. O seu estudo é baseado em iteração de funções, aliado
                    a alguns conhecimentos de Cálculo Diferencial e Espaços Métricos, obtendo resultados
                    como: a órbita de um ponto, pontos fixos e pontos periódicos.
                </p>
            <h2>Referencias</h2>
                <p>
                    GUEDES CIPOLLI, Valéria. Sistemas Dinâmicos Discretos- análise de
                    estabilidade Disponível em: <a href="http://www.rc.unesp.br/igce/matematica/arquivos2013/renata/LaTeX1.pdf" 
                    target="_blank" rel="external">
                        http://www.rc.unesp.br/igce/matematica/arquivos2013/renata/LaTeX1.pdf
                    </a> 
                </p>
        </article>
    </main>
    <footer>
        Historia da Matematica
    </footer>
</body>
</html>